// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#p_CSS {
  width: 85px;
  height: 20px;
  background-image: url('http://d3vj7y74cpj7c1.cloudfront.net/hello_world.png');
  }